<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_1/l1_intro.jpeg?raw=true"> </center>

<h2 class = "red"> Lecture 9 </h2>
<h3 class = "blue"> Feature Engineering part 1 + Naive Bayes Classification </h3>
#### Nenad Svrzikapa
#### Harvard University
#### Python for Data Science
#### CSCI E-29

These lectures were prepared by using sources and code from: 
Andreas C. Muller, Jake Vanderplas and Sarah Guido, Dipanjan Sarkar, Raghav Bali, Tushar Sharma, James V Stone and Andrew Ng

* Python Data Science Handbook (Vanderplas)
* Practical Machine Learning with Python (Sarkar, Bali, Sharma)
* Introduction to Machine Learning with Python (Muller, Guido)
* Python Machine Learning (Raschka)
* Bayes' Rule (Stone)

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_1/2018_e29_staff.jpeg?raw=true"> </center>

## Section
<p class="grey"> 12:00 pm EST via ZOOM </p>
<hr class="red">
* Section will resume this week with Alan
* Topic: Unsupervised Machine Learning (K means, PCA)

Next Sections:
* Lena: 4/14/18 Introduction to Natural Language Processing
* Kaleigh: 4/21/18 Introduction to Neural Networks
* Phil: 4/28/18 PSETS 3,4

## Important Dates
<p class="grey"> NOTE: No late credits available for PSET5, EXAM or Graduate Project [No Exceptions]  </p>
- - -
* 4/14/2018 Graduate Project Proposal Due Date (Have a Backup Idea)
* 4/20/2018 PSET 5 posted
* 4/25/2018 Quiz 4
* 4/29/2018 Problem Set 5 Due - Firm Deadline
* 5/02/2018 No Lecture / Graduate Projects Are Due - Firm Deadline - Exam 2 posted
* 5/06/2018 Midnight Exam 2 Due - Firm Deadline
* 5/09/2018 Best Graduate Projects Movie Night, 7:40 - 8:40, off site meeting with staff.

## Graduate Proposal
<p class="grey"> Have a back up plan!  </p>
- - -
* 10 points max (Kaggle process, Machine Learning,Something Original, Discovery oriented [can not be on a dataset included in a library]
* 9 points max Statistical analysis with Data Visualization with Pandas (other libraries i.e. Bokeh)
* 8 points max Tutorial on a Data Science topic

* 7 minute video posted on Youtube or Vimeo
* Code must be posted on Canvas
* Links will be shared with class on Piazza

## Quiz 3
<p class="grey"> Good luck!  </p>
- - -
* We have a quiz today
* If anyone requires a paper version and didn't email me, see me after lecture
* For Quiz 4 you have to email me to get a paper version around quiz time.

## Piazza
<p class="grey"> Piazza is part of your grade  </p>
- - -
* Several students were penalized for disclosing/asking answers
* We want to be fair, Piazza is not a tool to validate your homework answers
* We aim for everyone to go through the exercises without being influenced by the results of others
* It's your responsibility to read and understand all anouncements and pinned posts on Piazza.
* There are students that haven't used Piazza at all, and students that only read
* Note that students who contribute are the only ones who will get a full participation grade
* Students who are active and ask questions will get 3-4/5
* Readers will get 1-3
* If you haven't used it you will get a 0 for participation.

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_7/images/Lecture_7_011.jpeg?raw=true"> </center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_7/images/Lecture_7_012.jpeg?raw=true"> </center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_7/images/Lecture_7_013.jpeg?raw=true"> </center>

> "Comming up with features is difficult, time-consuming, requires expert knowledge.  'Applied Machine Learning' is basically feature engineering." 
> 
--Prof. Andrew Ng

## Feature Engineering
<p class="grey"> What is important? </p>
- - -
* Not all raw data is a ready to use feature
* Good Features = Good Models
* More often than not data needs to be manipulated and prepared for training models
* It is VERY important to understand feature engineering if you want to excel at Machine Learning
* The choice and number of features may have a big impact on model performance
* What are some of the things we may have to do?

> "Feature engineering is the process of transforming raw data into fatures that better represent the undelying problem to the predictive models, resulting in improved model accuracu on unseen data." 
> 
--Dr. Jason Brownlee

## Why feature engineering?
<p class="grey"> A more general view </p>
- - -
* Better representation of the data
* Better performing models (better features = better models)
* Certain models require specific types of data
* Data transformation (text, images, video)
* Domain and business requirements (what are the chemical features that make a good drug?)

## Auto feature generation
<p class="grey"> Can we avoid the feature engineering process? </p>
- - -

It's possible to build methods to detect patterns and extract useful information from the raw data which can be used as features: Deep Learning.

* Convolutional Neural Networks (CNN)
* Recurrent Neural Networks (RNN)
* Long Short Term Memory Networks (LSTM)

all used for auto feature extraction.

## How do we engineer features?
<p class="grey"> No magic process that can be applied to everything. Often requires domain knowledge. </p>
- - -

However, we can to some extent categorize some procedures by data type.

* Numerical data
* Categorical data
* Text data
* Temporal data
* Image data

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import scipy.stats as spstats

## Numeric Data Feature Engineering
<p class="grey"> Numeric data may be ready to use or may require modifications. </p>
- - -

Some things we can do to numeric data.

* Transformations
* Change of scale
* Change of distribution

## Ready to use raw data
<p class="grey"> Values </p>
- - -

The Pokemon dataset has plenty of ready to use raw data.

In [2]:
pokemon = pd.read_csv('pokemon.csv', encoding = 'utf-8')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Gen 1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Gen 1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Gen 1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Gen 1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Gen 1,False

## Ready to use raw data
<p class="grey"> Counts </p>
- - -

The million song dataset has a listen_count raw data feature which can be used.

In [3]:
songs = pd.read_csv('songs.csv', encoding = 'utf-8')
songs.head(15)

,user_id,song_id,title,listen_count
0,b6b799f34a204bd928ea014c243ddad6d0be4f8f,SOBONKR12A58A7A7E0,You're The One,2
1,b41ead730ac14f6b6717b9cf8859d5579f3f8d4d,SOBONKR12A58A7A7E0,You're The One,0
2,4c84359a164b161496d05282707cecbd50adbfc4,SOBONKR12A58A7A7E0,You're The One,0
3,779b5908593756abb6ff7586177c966022668b06,SOBONKR12A58A7A7E0,You're The One,0
4,dd88ea94f605a63d9fc37a214127e3f00e85e42d,SOBONKR12A58A7A7E0,You're The One,0
5,68f0359a2f1cedb0d15c98d88017281db79f9bc6,SOBONKR12A58A7A7E0,You're The One,0
6,116a4c95d63623a967edf2f3456c90ebbf964e6f,SOBONKR12A58A7A7E0,You're The One,17
7,45544491ccfcdc0b0803c34f201a6287ed4e30f8,SOBONKR12A58A7A7E0,You're The One,0
8,e701a24d9b6c59f5ac37ab28462ca82470e27cfb,SOBONKR12A58A7A7E0,You're The One,68
9,edc8b7b1fd592a3b69c3d823a742e1a064abec95,SOBONKR12A58A7A7E0,You're The One,0
10,fb41d1c374d093ab643ef3bcd70eeb258d479076,SOBONKR12A58A7A7E0,You're The One,1
11,cb8ed62245335312d58c97c1d5c68b4cac682afd,SOBONKR12A58A7A7E0,You're The One,0
12,3fd3acaa8dfeb94b0602a33085b44ebe80545dd2,SOBONKR12A58A7A7E0,You're The One,0
13,672a1973a091e8ed8f4d46e3a740621f5fa4176c,SOBONKR12A58A7A7E0,You're The One,0
14,8c0a675214831879573af98d632bf2684273e0d9,SOBONKR12A58A7A7E0,You're The One,0

## Binarization
<p class="grey"> What if we wanted to know if a user listened to the song or not? </p>
- - -

We can transform the counts easily by introducing a new column.

In [4]:
#remember Apply and Lambda functions?
songs['listen_bin'] = songs['listen_count'].apply(lambda x:1 if x > 0 else 0)
songs.head(15)

,user_id,song_id,title,listen_count,listen_bin
0,b6b799f34a204bd928ea014c243ddad6d0be4f8f,SOBONKR12A58A7A7E0,You're The One,2,1
1,b41ead730ac14f6b6717b9cf8859d5579f3f8d4d,SOBONKR12A58A7A7E0,You're The One,0,0
2,4c84359a164b161496d05282707cecbd50adbfc4,SOBONKR12A58A7A7E0,You're The One,0,0
3,779b5908593756abb6ff7586177c966022668b06,SOBONKR12A58A7A7E0,You're The One,0,0
4,dd88ea94f605a63d9fc37a214127e3f00e85e42d,SOBONKR12A58A7A7E0,You're The One,0,0
5,68f0359a2f1cedb0d15c98d88017281db79f9bc6,SOBONKR12A58A7A7E0,You're The One,0,0
6,116a4c95d63623a967edf2f3456c90ebbf964e6f,SOBONKR12A58A7A7E0,You're The One,17,1
7,45544491ccfcdc0b0803c34f201a6287ed4e30f8,SOBONKR12A58A7A7E0,You're The One,0,0
8,e701a24d9b6c59f5ac37ab28462ca82470e27cfb,SOBONKR12A58A7A7E0,You're The One,68,1
9,edc8b7b1fd592a3b69c3d823a742e1a064abec95,SOBONKR12A58A7A7E0,You're The One,0,0
10,fb41d1c374d093ab643ef3bcd70eeb258d479076,SOBONKR12A58A7A7E0,You're The One,1,1
11,cb8ed62245335312d58c97c1d5c68b4cac682afd,SOBONKR12A58A7A7E0,You're The One,0,0
12,3fd3acaa8dfeb94b0602a33085b44ebe80545dd2,SOBONKR12A58A7A7E0,You're The One,0,0
13,672a1973a091e8ed8f4d46e3a740621f5fa4176c,SOBONKR12A58A7A7E0,You're The One,0,0
14,8c0a675214831879573af98d632bf2684273e0d9,SOBONKR12A58A7A7E0,You're The One,0,0

## Binarization with scikit
<p class="grey"> The preprocessing module has some useful tools </p>
- - -

Let's see how the binarizer works.

In [5]:
#Import the Binarizer
from sklearn.preprocessing import Binarizer
#Instantiate the Binarizer
#Note how to use the threshold / default is 0
#Hence we could have done to_bin = Binarizer()
to_bin = Binarizer(threshold = 0.5)
transformed = to_bin.transform([songs['listen_count']])
songs['listen_scikit_bin'] = transformed[0]
songs.head(15)

,user_id,song_id,title,listen_count,listen_bin,listen_scikit_bin
0,b6b799f34a204bd928ea014c243ddad6d0be4f8f,SOBONKR12A58A7A7E0,You're The One,2,1,1
1,b41ead730ac14f6b6717b9cf8859d5579f3f8d4d,SOBONKR12A58A7A7E0,You're The One,0,0,0
2,4c84359a164b161496d05282707cecbd50adbfc4,SOBONKR12A58A7A7E0,You're The One,0,0,0
3,779b5908593756abb6ff7586177c966022668b06,SOBONKR12A58A7A7E0,You're The One,0,0,0
4,dd88ea94f605a63d9fc37a214127e3f00e85e42d,SOBONKR12A58A7A7E0,You're The One,0,0,0
5,68f0359a2f1cedb0d15c98d88017281db79f9bc6,SOBONKR12A58A7A7E0,You're The One,0,0,0
6,116a4c95d63623a967edf2f3456c90ebbf964e6f,SOBONKR12A58A7A7E0,You're The One,17,1,1
7,45544491ccfcdc0b0803c34f201a6287ed4e30f8,SOBONKR12A58A7A7E0,You're The One,0,0,0
8,e701a24d9b6c59f5ac37ab28462ca82470e27cfb,SOBONKR12A58A7A7E0,You're The One,68,1,1
9,edc8b7b1fd592a3b69c3d823a742e1a064abec95,SOBONKR12A58A7A7E0,You're The One,0,0,0
10,fb41d1c374d093ab643ef3bcd70eeb258d479076,SOBONKR12A58A7A7E0,You're The One,1,1,1
11,cb8ed62245335312d58c97c1d5c68b4cac682afd,SOBONKR12A58A7A7E0,You're The One,0,0,0
12,3fd3acaa8dfeb94b0602a33085b44ebe80545dd2,SOBONKR12A58A7A7E0,You're The One,0,0,0
13,672a1973a091e8ed8f4d46e3a740621f5fa4176c,SOBONKR12A58A7A7E0,You're The One,0,0,0
14,8c0a675214831879573af98d632bf2684273e0d9,SOBONKR12A58A7A7E0,You're The One,0,0,0

## Rounding
<p class="grey"> Decreasing precision and creating categorical features from numeric raw data </p>
- - -

In [6]:
popular = pd.read_csv('popular.csv', encoding = 'utf-8')
popular.head(15)

    item_id  pop_percent
0  it_01345      0.98324
1  it_03431      0.56123
2  it_04572      0.12098
3  it_98021      0.35476
4  it_01298      0.92101
5  it_90120      0.81212
6  it_10123      0.56502

In [7]:
popular['cat'] = popular['pop_percent'].apply(lambda x: round ((x * 10)))
popular['scaled'] = popular['pop_percent'].apply(lambda x: round ((x * 100)))

In [8]:
popular

    item_id  pop_percent  cat  scaled
0  it_01345      0.98324   10      98
1  it_03431      0.56123    6      56
2  it_04572      0.12098    1      12
3  it_98021      0.35476    4      35
4  it_01298      0.92101    9      92
5  it_90120      0.81212    8      81
6  it_10123      0.56502    6      57

## Dealing With Categorical Features
<p class="grey"> Discrete values that belong to a finite set of categories. </p>
- - -

Category labels can be either text or numerical and they are generally either:

1. Nominal (No order - Music Genres, Country Names, Disease Types, others?)
2. Ordinal (Order - Scout levels, Education level, clothing size, tornado or hurricane levels, others?)

## Nominal Feature Transformations
<p class="grey"> Nominal features - categorical, no order concept. </p>
- - -

In [9]:
sales = pd.read_csv('sales.csv', encoding = 'utf-8')
sales.head(10)
#SPOT THE NOMINAL CATEGORICAL DATA

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

## Converting a text nominal feature to a numerical category
<p class="grey"> Pandas and scikit methods </p>
- - -

Let's take a look at the Genre column

In [10]:
#we will likely want to know all the unique categories in the column
#sales['Publisher'].unique()
sorted(sales['Genre'].unique())

['Action',
 'Adventure',
 'Fighting',
 'Misc',
 'Platform',
 'Puzzle',
 'Racing',
 'Role-Playing',
 'Shooter',
 'Simulation',
 'Sports',
 'Strategy']

## Converting a text nominal feature to a numerical category with Pandas
<p class="grey"> Pandas is great! </p>
- - -

In [11]:
#We could create a dictionary and than use apply or map? which one?
d = {'Action':0,
     'Adventure':1,
     'Fighting':2,
     'Misc':3,
     'Platform':4,
     'Puzzle':5,
     'Racing':6,
     'Role-Playing':7,
     'Shooter':8,
     'Simulation':9,
     'Sports':10,
     'Strategy':11}

In [12]:
sales['Genre_pandas_map'] = sales['Genre'].map(d)
sales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Genre_pandas_map
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,10
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,4
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,6
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,10
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,7

## Converting a text nominal feature to a numerical category with scikit
<p class="grey"> LabelEncoder </p>
- - -
More from the preprocessing module.

In [13]:
from sklearn.preprocessing import LabelEncoder

#instantiate the label encoder
le = LabelEncoder()

#we use the fit_transform method and pass it our feature column
labels = le.fit_transform(sales['Genre'])
#We have our classes stored in .classes_
le.classes_

#print (labels)

array(['Action', 'Adventure', 'Fighting', 'Misc', 'Platform', 'Puzzle',
       'Racing', 'Role-Playing', 'Shooter', 'Simulation', 'Sports',
       'Strategy'], dtype=object)

In [14]:
sales['Genre_scikit_map'] = labels
sales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Genre_pandas_map,Genre_scikit_map
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,10,10
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,4,4
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,6,6
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,10,10
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,7,7

## Ordinal Feature Transformations
<p class="grey"> Ordinal features - can be ordered and sorted based on their values. </p>
- - -

In [15]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Gen 1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Gen 1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Gen 1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Gen 1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Gen 1,False

### Let's take a look at the Generations and map them into a numeric representation

In [16]:
#Take a look at the uniques
pokemon['Generation'].unique()

array(['Gen 1', 'Gen 2', 'Gen 3', 'Gen 4', 'Gen 5', 'Gen 6'], dtype=object)

In [17]:
#Generate the map
d2 = {'Gen 1':1, 'Gen 2':2, 'Gen 3':3, 'Gen 4':4, 'Gen 5':5, 'Gen 6':6}

In [18]:
#Use the map to create a new column
pokemon['Generation_num'] = pokemon['Generation'].map(d2)
#Take a look at the head and tail
pokemon.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Generation_num
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Gen 6,True,6
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Gen 6,True,6
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Gen 6,True,6
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Gen 6,True,6
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Gen 6,True,6

## Remember that we can use numerical data as is?
<p class="grey"> We just created a column with a bunch of numbers.  Risks? </p>
- - -

We would learn things that may make no sense and we don't want to learn.

* Gen 6 > Gen 5 > Gen 4 ..... > Gen 1
* Gen 6 - Gen 4 = Gen 2
* Don't confused order of ordinal values with magnitude

## How can we avoid making this mistake?
<p class="grey"> Several strategies </p>
- - -
* One-Hot Encoding
* Dummy Coding
* Effect Coding
* Feature Hashing

## One-hot encoding
<p class="grey"> Expanding to multiple columns </p>
- - -

Considering a feature with m categories, m new binary features are created which can only store 0 or 1 for values.

In [19]:
#Note: try making this just a list of dictionaries
rent = pd.DataFrame([{'price':2800, 'rooms': 3, 'neighborhood': 'Riverside'},
        {'price':2500, 'rooms': 2, 'neighborhood': 'Cambridgeport'},
        {'price':2200, 'rooms': 2, 'neighborhood': 'Area 4'},
        {'price':2000, 'rooms': 2, 'neighborhood': 'East Cambridge'},
        {'price':2200, 'rooms': 2, 'neighborhood': 'Riverside'},
        {'price':2600, 'rooms': 2, 'neighborhood': 'Harvard sq'}])

#Show transposition
#rent.T

In [20]:
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse = False, dtype = int)
#what is T?
#you can pass a list of dictionaries directly here if you tried above to change it
dv.fit_transform(rent.T.to_dict().values())

array([[   0,    0,    0,    0,    1, 2800,    3],
       [   0,    1,    0,    0,    0, 2500,    2],
       [   1,    0,    0,    0,    0, 2200,    2],
       [   0,    0,    1,    0,    0, 2000,    2],
       [   0,    0,    0,    0,    1, 2200,    2],
       [   0,    0,    0,    1,    0, 2600,    2]], dtype=int64)

In [21]:
#how are these arranged?
dv.get_feature_names()

['neighborhood=Area 4',
 'neighborhood=Cambridgeport',
 'neighborhood=East Cambridge',
 'neighborhood=Harvard sq',
 'neighborhood=Riverside',
 'price',
 'rooms']

## What is an obvious issue with One-hot Encoding?
<p class="grey"> Data growth </p>
- - -
But, most of the data is zeroes so we can use a sparse matrix output.

In [22]:
dv2 = DictVectorizer(sparse = True, dtype = int)
dv2.fit_transform(rent.T.to_dict().values())

<6x7 sparse matrix of type '<class 'numpy.int64'>'
	with 18 stored elements in Compressed Sparse Row format>

## One-hot Encoding with scikit OneHotEncoder and LabelEncoder?
<p class="grey"> More options </p>
- - -
What if data is not a list of dictionaries?

In [23]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Generation_num
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Gen 1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Gen 1,False,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Gen 1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Gen 1,False,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Gen 1,False,1

In [24]:
#This is what we will be working with Generation and Legendary
pokemon[['Name','Generation','Legendary']].iloc[265:275]

                        Name Generation  Legendary
265                 Larvitar      Gen 2      False
266                  Pupitar      Gen 2      False
267                Tyranitar      Gen 2      False
268  TyranitarMega Tyranitar      Gen 2      False
269                    Lugia      Gen 2       True
270                    Ho-oh      Gen 2       True
271                   Celebi      Gen 2      False
272                  Treecko      Gen 3      False
273                  Grovyle      Gen 3      False
274                 Sceptile      Gen 3      False

In [25]:
#Let's take a peak at both
sorted(pokemon['Generation'].unique())
sorted(pokemon['Legendary'].unique())

[False, True]

In [26]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
#Instantiate the encoder
le_generation = LabelEncoder()

#fit transform encoder with the data to be encoded
labels_generation = le_generation.fit_transform(pokemon['Generation'])
#add the column to the dataframe
pokemon['LE_Generation'] = labels_generation
#quick vew of a boundary region where we can see two generations
pokemon[['Name','Generation','Legendary','LE_Generation']].iloc[265:275]

                        Name Generation  Legendary  LE_Generation
265                 Larvitar      Gen 2      False              1
266                  Pupitar      Gen 2      False              1
267                Tyranitar      Gen 2      False              1
268  TyranitarMega Tyranitar      Gen 2      False              1
269                    Lugia      Gen 2       True              1
270                    Ho-oh      Gen 2       True              1
271                   Celebi      Gen 2      False              1
272                  Treecko      Gen 3      False              2
273                  Grovyle      Gen 3      False              2
274                 Sceptile      Gen 3      False              2

In [27]:
#instantiate encoder
le_legendary = LabelEncoder()
#fit transform encoder with the data to be encoded
labels_legendary = le_legendary.fit_transform(pokemon['Legendary'])
#add the column to the dataframe
pokemon['LE_Legendary'] = labels_legendary
#quick vew of a boundary region where we can see two generations
pokemon[['Name','Generation','Legendary','LE_Generation','LE_Legendary']].iloc[265:275]
#ok looks like we have a numeric representation of our data, but we still need to one-hot encode

,Name,Generation,Legendary,LE_Generation,LE_Legendary
265,Larvitar,Gen 2,False,1,0
266,Pupitar,Gen 2,False,1,0
267,Tyranitar,Gen 2,False,1,0
268,TyranitarMega Tyranitar,Gen 2,False,1,0
269,Lugia,Gen 2,True,1,1
270,Ho-oh,Gen 2,True,1,1
271,Celebi,Gen 2,False,1,0
272,Treecko,Gen 3,False,2,0
273,Grovyle,Gen 3,False,2,0
274,Sceptile,Gen 3,False,2,0

In [28]:
#instantiate a One Hot Encoder
ohe_generation = OneHotEncoder()
#note that toarray is here because the return is a sparse matrix
gen_fea_arr = ohe_generation.fit_transform(pokemon[['LE_Generation']]).toarray()

#We can get the classes from the label encoder so let's make a dataframe
df_generation = pd.DataFrame(gen_fea_arr, columns = list(le_generation.classes_))
#let's look at the region where Gen2 switches to Gen 3
df_generation.iloc[265:275]

     Gen 1  Gen 2  Gen 3  Gen 4  Gen 5  Gen 6
265    0.0    1.0    0.0    0.0    0.0    0.0
266    0.0    1.0    0.0    0.0    0.0    0.0
267    0.0    1.0    0.0    0.0    0.0    0.0
268    0.0    1.0    0.0    0.0    0.0    0.0
269    0.0    1.0    0.0    0.0    0.0    0.0
270    0.0    1.0    0.0    0.0    0.0    0.0
271    0.0    1.0    0.0    0.0    0.0    0.0
272    0.0    0.0    1.0    0.0    0.0    0.0
273    0.0    0.0    1.0    0.0    0.0    0.0
274    0.0    0.0    1.0    0.0    0.0    0.0

## Dummy Coding Scheme Encoding 
<p class="grey"> Getting rid of the first or last level binary encoded feature </p>
- - -
For m distinct feature labels we generate a vector of size m-1 for every datapoint.

In [46]:
dummy_features_gen = pd.get_dummies(pokemon['Generation'],drop_first=True)
dummy_features_gen.iloc[160:220]
#note that you can drop either the first or last vector column

     Gen 2  Gen 3  Gen 4  Gen 5  Gen 6
160      0      0      0      0      0
161      0      0      0      0      0
162      0      0      0      0      0
163      0      0      0      0      0
164      0      0      0      0      0
165      0      0      0      0      0
166      1      0      0      0      0
167      1      0      0      0      0
168      1      0      0      0      0
169      1      0      0      0      0
170      1      0      0      0      0
171      1      0      0      0      0
172      1      0      0      0      0
173      1      0      0      0      0
174      1      0      0      0      0
175      1      0      0      0      0
176      1      0      0      0      0
177      1      0      0      0      0
178      1      0      0      0      0
179      1      0      0      0      0
180      1      0      0      0      0
181      1      0      0      0      0
182      1      0      0      0      0
183      1      0      0      0      0
184      1      0      0      0      0
185      1      0      0      0      0
186      1      0      0      0      0
187      1      0      0      0      0
188      1      0      0      0      0
189      1      0      0      0      0
190      1      0      0      0      0
191      1      0      0      0      0
192      1      0      0      0      0
193      1      0      0      0      0
194      1      0      0      0      0
195      1      0      0      0      0
196      1      0      0      0      0
197      1      0      0      0      0
198      1      0      0      0      0
199      1      0      0      0      0
200      1      0      0      0      0
201      1      0      0      0      0
202      1      0      0      0      0
203      1      0      0      0      0
204      1      0      0      0      0
205      1      0      0      0      0
206      1      0      0      0      0
207      1      0      0      0      0
208      1      0      0      0      0
209      1      0      0      0      0
210      1      0      0      0      0
211      1      0      0      0      0
212      1      0      0      0      0
213      1      0      0      0      0
214      1      0      0      0      0
215      1      0      0      0      0
216      1      0      0      0      0
217      1      0      0      0      0
218      1      0      0      0      0
219      1      0      0      0      0

## Effect Coding Scheme Encoding 
<p class="grey"> Getting rid of the first or last level binary encoded feature </p>
- - -
For m distinct feature labels we generate a vector of size m-1 for every datapoint. Where every 0 is replaced by -1.  Very similar to Dummy coding.

## Feature Hashing
<p class="grey"> Using Hashing to represent large vectors with much smaller vectors </p>
- - -
What is a problem of hashing?

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_9/images/Lecture_9.001.jpeg?raw=true"> </center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_9/images/Lecture_9.002.jpeg?raw=true"> </center>

## How did the doctor come up with this answer?
<p class="grey"> Smallpox example </p>
- - -
* Let's suppose that doctor around the world have been submitting data to the WHO regarding the number of cases of smallpox and chickenpox as well as the symptoms associated with these diseases.

\begin{equation*}
p(\text{spots}|\text{smallpox})   = { 0.9}
\end{equation*}

Where p is interpreted as probability and | is "given that".

| signifies dependance, so getting spots is conditional on the disease.  This is therefore known as: *Conditional Probability

Similarly let's say we have information about chickenpox as well

\begin{equation*}
p(\text{spots}|\text{chickenpox})   = { 0.8}
\end{equation*}


Interesting! That's very close?! I guess we can't really use symptoms only to call the disease.

## Previous experience
<p class="grey"> Prevalence </p>
- - -
If we look at this we may think that *a priori* chickenpox and smallpox are equally probable.
So we could say, ok it could be either of these things.
However, we didn't account for any previous experience of the relative prevalence of smallpox and chickenpox.

\begin{equation*}
p(\text{spots}|\text{smallpox})   = { 0.9}
\end{equation*}

\begin{equation*}
p(\text{spots}|\text{chickenpox})   = { 0.8}
\end{equation*}

You should not that these conditional probabilities are also known as the *likelihood* of smallpox and chickenpox. 
Which one has the larger * likelihood?*

## The disease with maximum value is known as the (MLE)
<p class="grey"> MAXIMUM LIKELIHOOD ESTIMATE (MLE) </p>
- - -
In our case that is smallpox.

\begin{equation*}
p(\text{spots}|\text{smallpox})   = { 0.9}
\end{equation*}

\begin{equation*}
p(\text{spots}|\text{chickenpox})   = { 0.8}
\end{equation*}

Knowing that smallpox is rare, we need to somehow weight the likelihood to get a "weighted likelihood" which would be a better representation of the realistic estimate.

Let's assume that:

\begin{equation*}
p(\text{smallpox})   = {0.001}
\end{equation*}

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_9/images/Lecture_9.003.jpeg?raw=true"> </center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_9/images/Lecture_9.004.jpeg?raw=true"> </center>

## Weighting the likelihood
<p class="grey"> Bayes' rule </p>
- - -
Let's see how this looks like for our smallpox problem

\begin{equation*}
p(\text{smallpox} \ | \ \text{spots})   = \frac{p(\text{spots}\ |\ \text{smallpox}) \times p(\text{smallpox})}{p(\text{spots})}
\end{equation*}

*p*(spots) is the proportion of people with spots in general.  A random healthy, unhealthy, without looking at anything else has spots.  This term is often disregarded, but let's say that *p*(spots) = 0.081.

Now we have all the values we need.

\begin{equation*}
p(\text{smallpox} \ | \ \text{spots})   = \frac{0.9 \times 0.001}{0.081} = 0.011 = 1.1\%
\end{equation*}

## Bayesian inference
### Bayes' rule combines prior experience (prior probability) with observed data (spots) to generate a posterior probability.

Bayesian inference is not an answer, but it's a really good informed guess!

More here:
http://nbviewer.jupyter.org/github/CamDavidsonPilon/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/blob/master/Chapter1_Introduction/Ch1_Introduction_PyMC2.ipynb

## Let's try chickenpox now
<p class="grey"> What do you think Smallpox or Chickenpox?  </p>
- - -
Let's assume that the frequency of chickenpox in the population is 0.1.

That means the 10% of the general population has chickenpox :) 


\begin{equation*}
p(\text{chickenpox} \ | \ \text{spots})   = \frac{p(\text{spots}\ |\ \text{chickenpox}) \times p(\text{chickenpox})}{p(\text{spots})}
\end{equation*}

*p*(spots) = 0.081.

Now we have all the values we need.

\begin{equation*}
p(\text{chickenpox} \ | \ \text{spots})   = \frac{0.8 \times 0.1}{0.081} = 0.988 = 98.8\%
\end{equation*}

\begin{equation*}
p(\text{smallpox} \ | \ \text{spots})   = \frac{0.9 \times 0.001}{0.081} = 0.011 = 1.1\%
\end{equation*}

## Summary
<p class="grey"> Prior knowledge is an important factor!  </p>
- - -
* Based on the likelihoods alone we would say that the patient has smallpox
* We don't know if the patient has chickenpox, we are 98.8% certain that they do.
* Having chickenpox is our MAP (* maximum a posteriori*)estimate since it's associate with the maxium posterior probability.

\begin{equation*}
\text{posterior}   = \frac{\text{likelihood} \times \text{prior}}{\text{marginal likelihood}}
\end{equation*}


The marginal likelihood is also known as * evidence *
Or in machine learning terms we may say that:

\begin{equation*}
p(\text{L |  features})   = \frac{p(\text{features | L}) \times p(\text{L})}{p(\text{features})}
\end{equation*}

## Bayes' rule
<p class="grey"> Smallpox was eradicated ~1977 and it is the first disease to be eradicated.  </p>
- - -
* It's not my intention to educate on this matter here, but it was eradicated by vaccination.


\begin{equation*}
p(\theta\text{ |  x})   = \frac{p(\text{x | } \theta) \times p(\theta)}{p(\text{x})}
\end{equation*}

We typicaly use the *parameter *theta to represent what we want to estimate.

We typically use *variable* x to represent evidence.

## Deciding between two labels
<p class="grey"> We need to calculate the posterio ratio also known as posterior odds  </p>
- - -
\begin{equation*}
p(\text{L |  features})   = \frac{p(\text{features | L}) \times p(\text{L})}{p(\text{features})}
\end{equation*}

This is how we would calculate the posterior odds (small type in textbook should be L2)



\begin{equation*}
\frac{p(L_1\text{ |  features})}{p(L_2\text{ |  features})}   = \frac{p(\text{features | }L_1) \times p(L_1)}{p(\text{features | }L_2) \times p(L_2)}
\end{equation*}



Where did p(features) go? It cancels out.

## Deciding between two labels
<p class="grey"> We need to calculate the posterior ratio also known as posterior odds  </p>
- - -
\begin{equation*}
R_\text{post} = \frac{p(\theta_1\text{ |  x})} {{p(\theta_2\text{ |  x})}}  
\end{equation*}

This is how we would calculate the posterior odds (small type in textbook should be L2)



\begin{equation*}
R_\text{post} = \frac{p(L_1\text{ |  features})}{p(L_2\text{ |  features})}   = \frac{p(\text{features | }L_1) \times p(L_1)}{p(\text{features | }L_2) \times p(L_2)}
\end{equation*}

The ratio of the likelihoods is known as * Bayes factor *

\begin{equation*}
B = \frac{p(\text{features | }L_1)} {p(\text{features | }L_2) }
\end{equation*}


Finally the ratio of the priors is:
\begin{equation*}
R_\text{prior} = \frac{p(L_1)}{p(L_2)}
\end{equation*}

Hence, the posterior odds is a product of the Bayes factor and the prior odds

\begin{equation*}
R_\text{post} = B \times R_\text{prior}\end{equation*}

In the case of smallpox vs. chickenpox

\begin{equation*}
R_\text{post} = \frac{0.80}{0.90} \times \frac{0.1}{0.001} = 88.9
\end{equation*}

Note: Bayes factor is smaller than 1 favorint smallpox

However,  Prior odds have a huge impact and turn the tide towards chickenpox

## Naive Bayes
<p class="grey"> Advantages and Disadvantages  </p>
- - -
* They work well with small training data
* They scale really well
* They are fast because they learn parameters by looking at each feature individually and collect a very simple statistic per class for each feature
* Simple to implement
* Quick and Dirty goto algorithm for initial results
* Performance is slightly worse that Linear models like Logistic Regression or LinearSVC

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_9/images/Lecture_9b.001.jpeg?raw=true"> </center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_9/images/Lecture_9b.002.jpeg?raw=true"> </center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_9/images/Lecture_9b.003.jpeg?raw=true"> </center>

## Naive Bayes
<p class="grey"> Goal of the model  </p>
- - -
We estimate 3 things:
\begin{equation*}
{p(\text{x | }L_i)\ \text{and}\ p(L_i)}
\end{equation*}

\begin{equation*}
\ p(x)
\end{equation*}

The likelihood of each class and the prior of the class are estimated by the model.
You can also calculate p(x) which is the joint distribution of p(x, Li)

## There are 3 types of Naive Bayes Classifiers
<p class="grey"> Depending on the type of data you have  </p>
- - -
1. GaussianNB - can be applied to any continuous data
2. BernoulliBN - assumes binary data
3. MultinomialBN - assumes count data

In [30]:
#load our model and instantiate it
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

# let's revisit the Iris dataset
from sklearn.datasets import load_iris
iris = load_iris()
 
# We have our feature matrix and label vector
X = iris.data
y = iris.target
 
# train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)
 
# train the model
gnb.fit(X_train, y_train)
 
# make predictions
y_pred = gnb.predict(X_test)
 
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn.metrics import accuracy_score
print("Gaussian Naive Bayes accuracy:", round((accuracy_score(y_test, y_pred)*100),2))

Gaussian Naive Bayes accuracy: 96.67

## BernoulliBN
<p class="grey"> This classifier counts how often every feature of every class is not zero.  </p>
- - -
Let's take a look

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_9/images/Lecture_9b.004.jpeg?raw=true"> </center>

In [31]:
#features
X = np.array([[0,1,0,1],
              [1,0,1,1],
              [0,0,0,1],
              [1,0,1,0]])
#labels
y = np.array([0,1,0,1])

In [32]:
play = pd.read_csv('play_golf.csv', encoding = 'utf-8')
play

     Outlook Temperature Humidity  Windy Play golf
0      Rainy         Hot     High  False        No
1      Rainy         Hot     High   True        No
2   Overcast         Hot     High  False       Yes
3      Sunny        Mild     High  False       Yes
4      Sunny        Cool   Normal  False       Yes
5      Sunny        Cool   Normal   True        No
6   Overcast        Cool   Normal   True       Yes
7      Rainy        Mild     High  False        No
8      Rainy        Cool   Normal  False       Yes
9      Sunny        Mild   Normal  False       Yes
10     Rainy        Mild   Normal   True       Yes
11  Overcast        Mild     High   True       Yes
12  Overcast         Hot   Normal  False       Yes
13     Sunny        Mild     High   True        No

In [33]:
### Open Excel File

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_9/images/Lecture_9b.005.jpeg?raw=true"> </center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_9/images/Lecture_9b.006.jpeg?raw=true"> </center>